*,
*::before,
*::after {
    box-sizing: border-box;
}

.imgSliderImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
}

.imgSliderBtn{
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}

.imgSliderBtnDot{
    all: unset;
    display: block;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    transition: scale 100ms ease-in-out;
}

.imgSliderBtnDot:hover,
.imgSliderBtnDot:focus-visible {
    scale: 1.2;
}

.imgSliderBtnDot > * {
    stroke: white;
    fill: black;
    width: 100%;
    height: 100%;
}

.imgSliderBtnDot:focus-visible,
.imgSliderBtn:focus-visible{
    outline: auto;
}

.imgSliderBtn:hover,
.imgSliderBtn:focus-visible{
    background-color: rgb(0, 0, 0, 0.2);
}


.imgSliderBtn > *{
    stroke: white;
    fill: black;
}

@keyframes squish {
    50% {
        scale: 1.4 0.6;
    }
}

@media not (prefers-reduced-motion) {

    .imgSliderImg{
        transition:  translate 300ms ease-in-out;
    }

    .imgSliderBtn:hover > *,
    .imgSliderBtn:focus-visible > *{
        animation: squish 200ms ease-in-out;
    }
}